body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}

.nav {
  position: absolute;
  background-color: none;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  font-weight: bold;
}

/* HERO  */
#hero {
  background: url("../assets/main1.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

#hero > h1 {
  position: absolute;
  margin-top: 15%;
  margin-left: 35%;
  font-size: 40px;
  color: #fff;
}

/* DESTINATION */
.places {
  display: flex;
  flex-direction: row;
}

.destination {
  text-align: center;
  margin: 10px;
}

#trending .destination img {
  width: 100%;
  height: 200px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .nav .container{
    flex-direction: column;
  }
  #hero {
    height: 300px;
  }

  #hero > h1 {
    margin-top: 30%;
    margin-left: 25%;
    font-size: 30px;
  }

  .places{
    flex-direction: column;
  }
}
